* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(85, 32, 32);
  grid-template-columns: 20% auto;
  gap: 20px;
  grid-template-areas:
    "navegacion header"
    "navegacion productos"
    "footer footer";
}
.navegacion {
  grid-area: navegacion;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1em;
  background-color: darkblue;
  color: aliceblue;
  & li {
    list-style: none;
  }
}
.hambu-links {
  display: none;
}
.header {
  grid-area: header;
  background-color: gainsboro;
  text-align: center;
  padding: 0.5em;
  & input {
    padding: 0.3em;
  }
}
.productos{
  grid-area: productos;
}
.productos-seccion {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  row-gap: 3rem;
 
}
.paginacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: .5rem;
  & div{
    padding: .5rem;
    border: 1px solid black;
    background-color: aliceblue;
  }
  
    div:nth-child(1){
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    div:nth-child(5n){
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
}

.card {
  width: 100%;
  height: 35vh;
  background-color: black;
  color: teal;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  padding: 1rem;
  align-content: center;
  .descripcion-card{
    text-align: center;
    & button{
      background-color: brown;
      padding: .5rem 3rem;
      border: none;
      border-radius: 20px;
      margin-top: 1rem;

    }
  }
}
.footer{
  grid-area: footer;
  text-align: center;
  background-color: rgb(11, 11, 84);
  padding: 1.5rem ;
  color: aliceblue;
  .redes{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;

    i {
      font-size: 3rem;
      border-radius: 5px;
      padding-bottom: .5rem;
    }
  }
}
@media (min-width:576px) and (max-width: 991px){
  body {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas:
      'navegacion navegacion'
      'header productos'
      'footer footer';
      gap: 0px;
  }
  .productos-seccion {
    grid-template-columns: 1fr 1fr;
   
  }
  .paginacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
    & div{
      padding: .5rem;
      border: 1px solid black;
      background-color: aliceblue;
    }
    
    div:nth-child(1){
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    div:nth-child(5n){
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  .footer{
    height: 12vh;
  }
  
}
@media (min-width: 992px){
  body {
    display: grid;
    background-color: rgb(85, 32, 32);
    grid-template-columns: 20% auto;
    grid-template-areas:
      'navegacion header'
      'navegacion productos'
      'footer productos ';
      gap: 0px;
      height: 100vh;
  }
  .hambu-links {
    display: block;
  }
  .navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .logo{
      padding: 1rem;
    }
    li{
      padding: .6rem;
    }
  }
  .hamburguesa i{
    display: none;
  }
  .productos-seccion {
    grid-template-columns: 1fr 1fr 1fr;
   
  }
  .paginacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
    & div{
      padding: .5rem;
      border: 1px solid black;
      background-color: aliceblue;
    }
    
      div:nth-child(1){
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      div:nth-child(5n){
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
  }
  .footer{
    position: static;
  }
  
}
